$topic-height: 70;

.versatile-custom-homepage-columns {
  // Two column section with post feeds
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0 6em 0;

  .btn {
    border: none;
    line-height: unset;
  }

  .loading-container {
    min-height: calc(#{$topic-height}px * 1);
  }

  @media screen and (max-width: 750px) {
    flex-wrap: wrap;
  }

  .col:nth-child(even) {
    margin-left: 1.5em;
  }

  .col:nth-child(odd) {
    margin-right: 1.5em;
  }

  .col {
    flex: 1 0 33%;
    margin-bottom: 1.5em;
    @media screen and (max-width: 750px) {
      width: 100%;
    }

    &.last {
      margin: 0;
    }
  }

  @media screen and (max-width: 750px) {
    .col {
      margin: 0 0 2em 0 !important;
    }
  }
  .header-wrapper {
    display: flex;
    align-items: flex-start;
    background-color: var(--tertiary);
    color: var(--secondary);
    padding: 0.75em;
    h2 {
      margin: 0;
    }
    .buttons {
      margin-left: auto;
    }
    button {
      border: none;
      background: var(--primary-low);
      color: var(--primary);
    }
  }
  .topic-list {
    // Hides extra details in topic feeds
    margin-bottom: 1em;

    thead,
    td.views {
      display: none;
    }
    tbody {
      border: none;
    }
    tr:nth-child(odd) {
      background: var(--primary-very-low);
    }
    &:not(.topic-thumbnails-grid) {
      .topic-list-item {
        height: #{$topic-height}px;
      }
    }
    .main-link {
      width: 70%;
    }
  }
}
