{{#if showTopicLists}}
{{!-- {{plugin-outlet name="above-discourse-showcased-categories" tagName=""}} --}}

<div class="wrap custom-homepage-columns">
  <!-- Two column homepage feed -->
  {{#each list as |item|}}
    {{showcased-topic-list data=item classNames=item.classes}}
  {{/each}}
</div>
{{/if}}