{{#if showTopicLists}}
{{plugin-outlet name="above-discourse-versatile-showcase" tagName=""}}

<div class="wrap versatile-custom-homepage-columns">
  <!-- Two column homepage feed -->
  {{#each list as |item|}}
    {{versatile-showcase-topic-list data=item classNames=item.classes}}
  {{/each}}
</div>
{{/if}}